Code*-*OSS
GIMP
QtProject.conf
Unknown*Organization
VencordDesktop
btop
cef_user_data
composer
dconf
figma-linux
gh
google-chrome
gtk-2.0
lazygit/state.yml
libreoffice
menus
mimeapps.list
obs-studio
obsidian
pavucontrol.ini
pulse
simple-update-notifier
spotify
user-dirs.dirs
user-dirs.locale
vesktop
vlc
yay
zoom.conf
zoomus.conf
