VencordDesktop
google-chrome
lazygit/state.yml
menus
pulse
GIMP
composer
Code*-*OSS
Unknown*Organization
cef_user_data
figma-linux
gtk-2.0
libreoffice
mimeapps.list
obs-studio
obsidian
pavucontrol.ini
simple-update-notifier
spotify
user-dirs.dirs
user-dirs.locale
vesktop
vlc
yay
zoom.conf
zoomus.conf
QtProject.conf
gh
dconf
btop
